<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "apnacollage".toUpperCase() %></h3>
    <h3><%= ["hello" , "hii" , "byy"] [0] %></h3>


    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iste animi voluptates explicabo aliquid, 
        exercitationem laudantium, dolore numquam nobis atque, praesentium beatae? Officia libero nam quae excepturi,
        quod possimus perspiciatis.</p>
        <button>click me!</button>
        <script src="index.js"></script>
</body>
</html>