
.Card{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
    transition: box-shadow 1s ease 0.5s;
}

img{ 
    width: 100%;
    height: 50%; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

.desc {
    padding-left: 10px;  
}

.Card:hover {
    box-shadow: 8px 8px 30px blue;
}