

.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border: 2px solid black;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 100px;
    background-color: #f00;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px; 
    left: 100px;
}

.eye{ 
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 250px;
    top: 100px;
    border-radius: 70px;
}

.eye2{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 120px;
    top: 100px;
    border-radius:100% ;
}
