/* Alpha value set the visibility of color */
/* div{
    height: 200px;
    width: 300px;
    background-color:#4dff00;
}

/* opacity means->set the visibility of the element(total pe apply) */

/* #opacity{
    background-color: #ffa511;
    opacity: 1;
} */ 

/* transitions duration */
div{
    height: 200px;
    width: 200px;
    background-color:#4dff00;
    margin: 0 auto;
    margin-top: 10px; 
    transition: margin-top 2s ease-in 0.2s;
}
div:hover{
    margin-top: 400px;
    background-color: black;
    border-radius: 20%;
}