section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n){
background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}
/* Transform */
#one {
    transform: rotate(45deg);
}

/* transform scale direction in both X and Y direction */
#two {
    transform: scale(0.5,1);
}

/* Transform translate which is used to move x and y direction used in 2d plaxe-> */
#three{
    transform: translatex(-100px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg) translateX(150px);
}

/* Box shaow */
