.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.col{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    /* text-align: center; */
    font-size: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row{
    display: flex;
}
