/* .box{
    height: 100px;
    width: 100px;
    background-color: pink;
} */

/* div{
    background-color: pink;
    height: 200px;
    width: 400px;
}

ul {
    background-color: blue;
}

li {
    background-color: greenyellow;
} */