*{
    margin:0;
    padding:0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: red;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin: 3rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-flex;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}