div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color:black ; */
    /* ->this three comment word width, style,color are right in one line */
    border: 5px solid black;
    /* border-top-color: blue; */
    border-top-right-radius: 20px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
}

h1{
    border-width: 2px;
    border-style: dashed;
    border-color: blueviolet;
    border-radius:10px ;
}

button{
    border: 2px dashed red;
    border-radius: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    /* padding top,right,bottom,left */
    /* padding: 10 30px 20 30; */
    padding: 20px;
}
