*{
    font-family: 'Courier New';
}
h1,h3{
    color: #b92b27;
}
#login {
    background-color: #ffffff;
}
#signup {
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: #008000;
    color:#280505;
}
/* descendent selector */
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: red ;
}
p {
    color: orangered;
}
a{
    color: black;
    background: lightgreen;
}