/* flexbox-> it is used to make the webste responsive,
justify content->arrgest in space equally if space is not enough*/
/* wrap is used for in case of enough space to come in next line */
/* flax is used for main Axis */
/* allign is used for cross axis */
/* allign baseline */
/* align item-> it is used for all the item */
/* align self-> cross axis of an individual item, align self > align item */
/* Flex sizong */
/* flex basis->inetially kis size ke div ho mere main axis ke along */
/* flex grow->flex container ke andar koi khali space rhh jati hai
to mere item ka main size kaise grow krna chaiye */
/* flex shorthand-> for writing flex we using shortform
example.Flex grow |Flex shrink |Flex basis
         flex:2| 2| 1pppx */

#container {
height: 600px;
width: 80%;
background-color: azure;
margin: 10px auto;
border: 2px solid black;
display: flex;
flex-direction:  row;
justify-content: flex-start;
/* justify-content: space-between; */
/* flex-wrap: wrap; */
/* align-items: baseline; */
/* flex shrink-> when elements get started over flow 
,when in container there is less space and we need more */
align-content: baseline;

}

#org {
    align-self: baseline;
    /* flex-basis: 30%; */
    /* flex-grow: 1; */
    flex-shrink: 1;

}

#blue {
    /* flex-basis: 400px ; */
    /* flex-grow: 2; */
    flex-shrink: 2;
}

h1 {
text-align: center;
}

#container div {
height: 100px;
width: 300px;
color: white;
text-align: center;
font-size: 1.5em;
} 