h1{
    text-align: center;
    text-decoration:wavy blue underline;
    border:solid;
    width: 80%;
    line-height: 5;
    letter-spacing: 10px;
    font-family: Arial;
    /* color: brown;
    background-color: blueviolet; */
}
p{
    text-align: justify;
    text-decoration:dotted red overline;
    border: solid;
    width: 80;
    line-height: 1;
    font-size: 20px;
}
h2{
    font-weight: 400;
    font-weight: bold;
    text-decoration:wavy yellow underline;
    line-height: 2;
    letter-spacing: 10px;
    font-size: 100;
    font-family: impact;
}
h3{
    font-weight: 100;
    text-decoration:wavy blue line-through;
    line-height:normal;
    letter-spacing: 5px;
    font-size: 100;
    font-family: fantasy;
} 
a{
    text-decoration: none;
}